/*build the roots to the colors*/
:root {
  --stone: #38464b;
  --nav_blue: #a1a9b7;
  --black_green: #013220;
  --capiton: #fff;
  --boring_silver: rgba(154, 185, 188, 0.8);
  --just_black: #000000;
  --outer: #333f50;
  --inner: #222a35;
  --clr_of_input: #3b3838;
}

/*the whole page css*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: var(--inner);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 200;
  font-size: 22px;
  color: var(--capiton);
}

.body {
  max-width: 1500px;
  max-height: 640px;

}

/* make the columns look aligned*/
.column {
  float: left;
  text-align: center;
}

.left {
  width: 7%;

}

.main_screen {
  width: 60%;
  margin-left: 65px;
  border-left: 15px solid rgb(226, 226, 255);
  border-top: 3px solid rgb(226, 226, 255);
  border-bottom: 3px solid rgb(226, 226, 255);
  border-right: 15px solid rgb(226, 226, 255);
  overflow-y: auto;
  height: 100vh;
  background-color: var(--inner) !important;
}

/*the main screen */
.container_main_screen {
  text-align: left;
  margin-top: 20px;
  margin-right: 20px;
  overflow-y: hidden;
  scroll-behavior: smooth;
  overflow-x: hidden;
  background-color: var(--inner);
}

/*main screen scrollbar*/
.container_main_screen::-webkit-scrollbar {
  width: 12px;
  background-color: var(--inner);
}

.container_main_screen::-webkit-scrollbar-thumb {
  background-color: var(--capiton);
  height: 20px;
}

/*build the menu style*/
.menu {
  width: 170px;
  border-radius: 10px;
  overflow: hidden;
  margin-left: 15px;
}


/*the menu buttons*/
.btn {
  display: block;
  border-radius: 10px;
  border: 2px solid var(--just_black);
  padding: 4px 7px;
  background-color: #edf4ff;
  color: var(--just_black);
  text-decoration: none;
  position: relative;
  font-weight: 400;
}

.btn_active::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: #17c0eb;
  left: 20px;
  display: none;
}

.btn i {
  margin-right: 10px;
}

.btn_active {
  display: block;
  padding: 4px 7px;
  background-color: #8497b0;
  color: var(--capiton);
  text-decoration: none;
  position: relative;
  border: 2px solid var(--just_black);
  border-radius: 10px;
  margin-bottom: 10px;
}

/*the sub-menu buttons*/
.smenu {
  background-color: var(--inner);
  overflow: hidden;
  transition: max-height 0.3s;
  max-height: 0;
  padding: 2px 2px;
  margin-left: 10px;
  max-height: 100%;
}

.smenu a {
  display: block;
  text-decoration: none;
  padding: 6px 18px;
  border-radius: 10px;
  background-color: var(--nav_blue);
  font-size: 16px;
  color: var(--just_black);
  margin: 4px 0;
  position: relative;
  border: 2px solid var(--just_black);
}

.smenu a:hover::before {
  opacity: 1;
}

.smenu a:hover {
  color: var(--capiton);
}

.item:target .smenu {
  max-height: 10em;
}

/*the Research journal*/
.right_screen {
  border: solid 3px rgb(226, 226, 255);
  border-right: solid 10px rgb(226, 226, 255);
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--inner) !important;
  padding: 20px 20px;
  width: 25%;
  overflow-x: hidden;
  overflow-y: scroll;
}

/*right screen scrollbar */
::-webkit-scrollbar {
  width: 12px;
  background-color: var(--inner);
}

::-webkit-scrollbar-thumb {
  background-color: var(--capiton);
  height: 20px;
}


.overlay {
  border-radius: 10px;
  background-color: var(--capiton);
  color: var(--just_black);
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: fixed;
  z-index: 2020;
}

.confirm-box {
  border: 3px solid var(--nav_blue);
  border-radius: 10px;
  position: absolute;
  width: fit-content;
  height: fit-content;
  top: 25%;
  left: 25%;
  padding: 20px 15px;
  text-align: center;
  background: var(--inner);
  z-index: 1001;
}

.main_screen .end_btn {
  font-size: 20px;
  padding: 5px 12px;
  background-color: var(--capiton);
  color: var(--just_black);
  position: relative;
  float: right;
  margin-top: 100px;
  margin-right: 20px;
  font-weight: 500;
  border-radius: 10px;
  border-color: rgb(179, 187, 255);
  border-width: 3px;
  cursor: pointer;
  background-color: #d6dce5;
  z-index: 1000;
  height: fit-content;
}

.main_screen .report_end_btn {
  font-size: 20px;
  padding: 5px 12px;
  background-color: var(--capiton);
  color: var(--just_black);
  position: relative;
  float: right;
  margin-bottom: 20px;
  margin-right: 20px;
  font-weight: 500;
  border-radius: 10px;
  border-color: rgb(179, 187, 255);
  border-width: 3px;
  cursor: pointer;
  background-color: #d6dce5;
  z-index: 1000;
  height: fit-content;
}



.confirm_btn {
  color: var(--just_black);
  background-color: #d6dce5;
  border-radius: 10px;
  border-color: rgb(179, 187, 255);
  border-width: 3px;
  border-radius: 10px;
  margin-top: 50px;
  font-weight: 400;
  padding: 2px 5px;
  margin: 20px;
}

#inside_confirm_p {
  text-align: center;
  font-weight: 200;
}

.draggable,
.sortable {
  background-color: var(--capiton);
  color: var(--just_black);
  border: 1px solid var(--just_black);
  cursor: move;
  width: fit-content;

}

.right_screen .draggable,
.right_screen .sortable {
  margin: 10px;
  border: 0px;
  width: fit-content;
  background-color: var(--capiton);
  color: var(--just_black);
  border: 1px var(--just_black);
}



.calculator {
  height: 450px;
  width: 250px;
  background-color: var(--just_black);
  border: 3px solid #ccc;
  padding: 15px;
  float: right;
}

.display {
  margin-bottom: 10px;
}

#result {
  background-color: white;
  color: var(--just_black);
  border: 1px solid var(--just_black);
  width: fit-content;

}



.buttons {
  display: grid;
  background-color: var(--just_black);
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  margin-top: 30px;
}

.calculator-btn {
  height: 100%;
  width: 100%;
  background-color: #afabab;
}

.items {
  background-color: #d0cece;
}

.drag-container {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}


.question_text {
  position: absolute;
  display: inline;
  margin-left: 50px;
  margin-bottom: 20px;
  width: 350px;
}

.input_box {
  margin-top: 40px;

}

label {
  /* Other styling... */
  text-align: right;
  clear: both;
  float: left;
  margin-right: 14px;
}

#inputField {
  background-color: var(--just_black);
  padding: 10px;
  width: 100%;
  border: solid 1px;

}

#sep_line {
  border-top: 1px dotted var(--capiton);
}

.input_answer {
  display: block;
  background-color: var(--clr_of_input);
  border: 1px solid var(--capiton);
  border-radius: 10px;
  width: 120px;
}

.option {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.option input[type="radio"] {
  margin-right: 10px;
  margin-left: 60px;
}

.option img {
  height: 140px;
  /* adjust as needed */
}

.remove {
  position: absolute;
  top: -2px;
  display: none;
  right: -20px;
  width: 0.1px;
  font-size: 0.1px;
}

/* 
#count_down {
  position: absolute;
  left: 650px;
} */

.smenu .btn_active {
  color: white;
}

/* .sortable .remove {
  position: absolute;
  top: -2px;
  right: -20px;
} */



.report_answer {
  width: 80px
}


/* .dragging .title {
  width: 1px;
  height: 1px;
  font-size: 1px;
} */

/* .sortable .ui-sortable-helper {
  width: 1px;
  height: 1px;
  font-size: 1px;
} */

.ui-sortable-helper .title {

  font-size: 14px;
  width: fit-content;
}

/* .ui-sortable-helper {
  font-size: 14px;
  width: fit-content;
} */

#forward {
  font-weight: 500;
}

.timer {
  text-align: center;
  margin: 5px;
  margin-bottom: -10px;
  min-height: 30px;
}

#clearStorage {
  position: relative;
  left: 0;
  bottom: 20px;
  margin-left: 30px;
  float: right;
  z-index: 1000;
  height: fit-content;
  border-radius: 10px;
  border-color: rgb(255, 255, 255);
  border-width: 3px;
  cursor: pointer;
  font-size: 20px;
  padding: 5px 12px;
  background-color: #d40000;
  color: white;
  position: absolute;
  font-weight: 500;
}

.Written {
  margin-left: 50px;
}

.question_title {
  font-weight: 450;
}

/* Tutorial popup styles - positioned exactly over question text */
.tutorial-popup {
  position: absolute;
  top: 20;
  background-color: #333f50;
  left: 20;
  z-index: 1000;
}

/* Collapsible text in right_screen sortable/draggable */
.right_screen .sortable,
.right_screen .draggable {
  position: relative;
  /* padding-right: 32px; */
  width: 90%;
  /* Space for the arrow */
  overflow: visible;
  /* Ensure content doesn't clip */
  /* two color background */
  /* background: linear-gradient(to bottom,var(--inner) 29px,  var(--capiton) 29px); */

}




.expand-arrow.show {
  display: flex;
  /* Show if needed */
}

/* .expand-arrow.expanded {
  transform: translateY(-50%) rotate(180deg);
} */

/* --- START: Collapsible Item CSS --- */

/* The container for the text that will collapse */
.right_screen .text-content {
  max-height: 1.4em;
  /* Limits to one line */
  overflow: hidden;
  white-space: nowrap;
  max-width: 200px;

  color: var(--just_black);
  background-color: white;
  text-overflow: ellipsis;
  transition: max-height 0.25s ease-out;
  cursor: pointer;
}

/* The state when the item is expanded */
.right_screen .expanded .text-content {
  max-height: 300px;
  /* Or a large enough value */
  white-space: normal;

}

/* The arrow button */
.expand-arrow {
  position: absolute;
  bottom: 0px;
  right: 5px;
  width: 24px;
  height: 1.1em;
  background: none;
  border: none;
  font-size: 1.2em;
  color: #333f50;
  cursor: pointer;
  z-index: 5;
  display: none;
  /* Hidden by default */
  align-items: center;
  justify-content: center;
  transition: transform 0.25s ease-out;
}

/* The arrow when the item is expanded */
.expand-arrow.expanded {
  transform: rotate(180deg);
}

/* --- END: Collapsible Item CSS --- */

/* Style for the new history display area */
.history-display {
  background-color: black;
  /* Dark background */
  height: 120px;
  /* Fixed height */
  overflow-y: auto;
  /* Make it scrollable */
  border: 1px solid white;
  /* border-radius: 5px; */
  padding: 5px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column-reverse;
  /* Newest results at the bottom */
}

/* Style for each draggable item in the history */
.history-item {
  padding: 5px 8px;
  margin-top: 5px;
  border-radius: 4px;
  font-size: 14px;
  white-space: nowrap;
  /* overflow: hidden; */
  text-overflow: ellipsis;
  background-color: black;
  /* Background for the whole line */
  color: #222a35;

}

/*right screen scrollbar */
.history-display::-webkit-scrollbar {
  width: 5px;
  background-color: var(--inner);
}

.history-display::-webkit-scrollbar-thumb {
  background-color: var(--capiton);
  height: 5px;
}

/*history display scrollbar if horizontal */
/*right screen scrollbar */
.history-display::-webkit-scrollbar:horizontal {
  width: 5px;
  height: 10px;
  background-color: var(--inner);
}

.history-display::-webkit-scrollbar-thumb:horizontal {
  background-color: var(--capiton);
  height: 5px;
}


.history-expression {
  background-color: #000000;
}

.history-result {
  float: right;
  padding: 3px;
  background-color: white;
  /* Slightly different background for emphasis */
}

.history-result.ui-droppable-processed.ui-droppable.sortable.ui-sortable.ui-sortable-disabled{
  display: none;
}
/* history-result ui-droppable-processed ui-droppable sortable ui-sortable ui-sortable-disabled */
.right_screen .history-result {
  padding: 0px;
  /* Slightly different background for emphasis */
}